<h1>Edit Project Details</h1>

<%= form_for(@project_item) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.text_area :thumbnail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>