<p> <%= image_tag @project_item.thumbnail unless @project_item.thumbnail.nil? %> </p>

<h1><%= @project_item.title %></h1> 

<em><%= @project_item.description %></em>

<h2>Contents:</h2>  
<%= link_to "Create New Content", new_project_content_path %>

<% @project_contents.each do |item| %>
  <h3> <%= link_to item.title, content_path(item)%> </h3>
  <p> Type: <%= item.content_type %> </p>

  <%= link_to "Edit", edit_content_path(item.id) %>
  <%= link_to "Delete Content", content_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<hr>

<p> <%= link_to "Edit Project", edit_project_path(@project_item.id) %> </p>
<p> <%= link_to "Delete Project", project_path(@project_item), method: :delete, data: { confirm: "Are you sure?" } %> </p>
<p> <%= link_to "Back", projects_path %> </p>